/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}